<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Calisthenics</title>
		<link rel="icon" href="../static/images/ico1.png">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/my_style.css">
	</head>
	<body>
		<header class="bg-dark fixed-top">
			<nav class="navbar navbar-expand-lg navbar-dark container">
				<a class="navbar-brand" href="/"><img id="ico-img" src="../static/images/ico1.png"/>HSGS Fitness  Master</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<section class="collapse navbar-collapse" id="navbarSupportedContent">					
					<ul id="my-ul" class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/">TRANG CHỦ<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/calisthenics">GYM</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/calisthenics">CALISTHENICS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">MOTIVATION</a>
						</li>
					</ul>
				</section>
			</nav>
		</header>
		
		<section id="banner">
			<img class="w-100" src="../static/images/bg.jpg">
		 </section>
		 
		<section class="tvc">
			<h1>Tìm hiểu về Bodybuilding</h1>
			<p>Nếu mấy gã nhễ nhại trong phòng tập là những nhà điêu khắc chăm chỉ, thì điều đặc biệt rằng cả đời mấy gã đó chỉ tự đẽo ra một tác phẩm, đó là cơ thể mình. Vậy trước khi tự tay gọt dũa cơ thể bằng mấy quả tạ, trong đầu bạn đã phác thảo ra hình tượng gì?</p>
			<p>Xoay quanh câu chuyện cơ bắp này, có một đề tài được tranh luận khá sôi nổi trong giới thể hình của Việt Nam cũng như thế giới: “Sự khác nhau giữa Bodybuilding và Fitness, chọn hướng nào là tốt hơn?”.</p>
			<p>Nhìn chung tổng quan hai loại hình này có thể khó phân biệt một cách rành mạch, tuy nhiên chúng ta hãy cùng tìm kiếm sự khác nhau giữa chúng. Bodybuilding được biết đến vào khoảng thập niên 50, 60 của thế kỷ 20 (một trong những sự kiện nỗi bật đó là cuộc thi Mr. Olympia lần đầu tiên tổ chức vào năm 1965) trong khi đó Fitness là một nhánh gần đây.</p>
			<p>Bodybuilding và Fitness có rất nhiều điểm tương đồng, chẳng hạn như đều hướng đến một vóc dáng hoàn hảo theo tiêu chuẩn của mỗi cuộc thi. Có một sự thật là Fitness được biết đến có nguồn gốc từ Bodybuilding. Những người theo hai loại hình này đều dành phần lớn thời gian, mồ hôi trong phòng tập để thay đổi cơ thể trở thành những hình mẫu lý tưởng. Dưới đây là một số thông tin có thể giúp các bạn hình dung rõ hơn về hai loại hình này.</p>
			<p>Theo Muscles and Fitness (một ấn phẩm chuyên cung cấp thông tin về tất cả mọi thứ về thể dục – thể hình) có rất nhiều sự khác biệt trong cách huấn luyện và dinh dưỡng.</p>
			<br>
			<strong><p>Tập luyện</p></strong>
			<p>Những Bodybuilder có mục tiêu chính là “đạt được khối lượng cơ bắp lớn”. Cơ bắp phải được to để họ có thể “nổ tung” trong các cuộc thi. Những nhóm cơ nhỏ vẫn được “tra tấn” một cách tỉ mỉ nhất có thể. Kế hoạch tập luyện của các Bodybuilder thường bao gồm những bài tập với số lần lặp lại ít nhưng lại chú trọng vào trọng lượng mức tạ cao.</p>
			<p>Họ hiếm khi tham gia thường xuyên vào các bài tập tim mạch hoặc sử dụng các mức tạ thấp, họ thường xuyên kích thích cơ bắp của mình đến ngưỡng thất bại. Trong thời gian phục hồi, các cơ bắp được nghỉ ngơi và bù đắp để có thể trở nên căng phồng.</p>
			<p>Trong khi đó, theo Obi Obadike – một chuyên gia Fitness trên thế giới, mục tiêu chính của loại hình này là “để có một cơ thể khỏe mạnh và cân đối”. Họ không quan tâm đến việc xây dựng các bắp thịt quá lớn. Những người mẫu Fitness dành tương đối nhiều thời gian vào các nhóm cơ lớn (lưng, ngực… ).</p>
			<p>Sau khi có nền tảng thể hình, họ sẽ tìm kiếm một cơ bụng sáu múi và chú ý đến chân và mông hơn. Thói quen tập thể dục của các người mẫu Fitness thường là dành một nửa số chương trình tập luyện cho tim mạch và còn lại là nâng tạ. Để tạo cơ bắp săn chắc, họ tập trung vào số lần nâng tạ với khối lượng tạ thấp hơn những Bodybuilder.</p>
			<br>
			<strong><p>Chế độ dinh dưỡng</p></strong>
			<p>Bodybuilding và Fitness trong cách nạp năng lượng cũng có nhiều nét tương đồng. Cả hai đều tập trung vào protein, tinh bột, vitamin, các loại rau, trái cây và các thực phẩm hỗ trợ (Whey, BCAA… ). Tuy nhiên những Bodybuilder thường có xu hướng lạm dụng các loại thực phẩm hỗ trợ.</p>
			<p>Sự khác biệt cơ bản giữa Bodybuilder và người mẫu Fitness chính là lượng calo nạp vào. Theo những người mẫu Fitness chuyên nghiệp, mỗi ngày thường tiêu thụ không quá 2500 calo trong khi đó các Bodybuilder thường xuyên tiêu thụ trên 5000 calo.</p>
			<br>
			<strong><p>Vậy hướng đi nào tốt hơn?</p></strong>
			<p>Fitness và Bodybuilding đều xuất phát từ mong muốn của con người đạt được một nền tảng sức khỏe tốt, giới hạn cuối cùng của họ. Mỗi người sẽ có một định nghĩa vẻ đẹp riêng, một sở thích riêng. Việc chọn cho mình một hướng đi phù hợp với nhu cầu cuộc sống mới là điều quan trọng. Hi vọng qua bài này các bạn đã có một cách nhìn tổng quan và giúp ích cho con đường “sống với tạ” sau này.</p>
		</section>
		 
		 <footer id="about">
			<p>©2018, Thái Nguyễn.</p>
		 </footer>
		 
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>