<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>HSGS Fitness  Master</title>
		<link rel="icon" href="../static/images/ico1.png">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/my_style.css">
	</head>
	<body>
		<header class="bg-dark fixed-top">
			<nav class="navbar navbar-expand-lg navbar-dark container">
				<a class="navbar-brand" href="/"><img id="ico-img" src="../static/images/ico1.png"/>HSGS Fitness  Master</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<section class="collapse navbar-collapse" id="navbarSupportedContent">					
					<ul id="my-ul" class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link active" href="/">TRANG CHỦ<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/calisthenics">GYM</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/calisthenics">CALISTHENICS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">MOTIVATION</a>
						</li>
					</ul>
				</section>
			</nav>
		</header>
		
		<div id="bg-banner" class="card bg-dark text-white">
		  <img class="card-img" src="../static/images/bg.jpg" alt="Card image">
		  <div class="card-img-overlay">
			<div class="d-flex justify-content-center">
				<img class="ico-bg" src="../static/images/icon.jpg"/>
			</div>
			<h1 class="card-title text-center">HSGS Fitness Master</h1>
		  </div>
		</div>
		 
		 <footer id="about">
			<p>©2018, Minh dz.</p>
		 </footer>
		 
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>